body {
    background-color: black;
    color: white;
    font-size: 100%;
    font-family: monospace;
    font-size: 150%;
    margin:40px auto;
}  
a {
    color: chartreuse;
}    
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}    
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
